<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Libs</title>
</head>
<body>
<!--<p th:text="'Hello, ' + ${name} + '!'" />-->
<p th:text="${fileInfo}"/>

</body>
</html>