<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>fileInfo</title>
</head>
<body>
This is fileInfo page
<p th:text="'Hello, ' + ${name} + '!'" />
</body>
</html>